.header {
  background-color: #282c34;
  display: flex;
  flex-direction: row; /* Asegura que los hijos estén en línea */
  align-items: center; /* Alinea verticalmente los hijos */
  justify-content: space-between; /* Espacio entre el título y el menú */
  font-size: 1rem;
  color: white;
  padding: 0 20px;

  position: fixed; /* Fija el header en la parte superior */
  top: 0; /* Asegura que esté en la parte superior */
  left: 0;
  width: 98%; /* Ocupa todo el ancho de la pantalla */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.header nav ul {
  display: flex; /* Alinea los elementos del menú en línea */
  list-style: none; /* Elimina los puntos de la lista */
  margin: 0;
  padding: 0;
}

.header nav ul li {
  margin: 0 10px; /* Espaciado entre los elementos del menú */
}

.header nav ul li a {
  color: white;
  text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.header nav ul li a:hover {
  text-decoration: underline; /* Subraya el enlace al pasar el cursor */
}
